.card > img{
    width: 70px;
}

.card{
    display: grid;
}

.cardButton{
    width: 10px;
    height: 20px;
}

/***Tables & Apple Pro**/
@media screen and (max-width: 1024px ){


}

/***Mobile: iPhone**/
@media screen and (max-width: 600px ){

}

