.card{
    position: relative;


    color: #080707;


    width: 400px;
    height: 350px;
    border-radius: 20px;
    border: .25px solid rgb(245, 245, 245);
    margin: 10px 20px;

    transition: all .5 ease;
    cursor: pointer;


    display: grid;
    grid-template-rows: 10% 80% 10%;
    
}

.card > h3{
    /* position: absolute; Parent should be relative */
    width: 100%;

    font-size: 30px;
    font-weight: bolder;

    text-align: center;

}

.card > img{
    width: 100%;

    object-fit: cover;
    /* z-index: 1; Highest index on card */

}

.card:hover > img{  

    opacity: .9;
    z-index: 0; /*h3 Title now shows*/
}

/* .card:hover{  
    background-color: #7c3aed;

} */



/* .cardButton{
    width: 10px;
    height: 20px;
} */


/***Tables & Apple Pro**/
@media screen and (max-width: 1024px ){


}

/***Mobile: iPhone**/
@media screen and (max-width: 600px ){

}

