.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;
    box-shadow: 9px 9px 30px rgba(170, 128, 175, 0.3);

    transition: all 525ms ease;
}

.about2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about2 > p{
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}

.about2 > button{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5rem;

    filter: none;
}

.about2 > button:hover{
    padding: 1.5rem;
    
    background-color: rgb(176, 95, 184);
}


/*LARGE SCREENS*/
@media (min-width:640px)  {
     
}

/*MEDIUM SCREENS*/
@media (min-width:768px)  {
     .about{
        display: flex;
        flex-direction: column;
     }
     .about{
        display: flex;
        flex-direction: column;
     }
}

/*SMALL SCREENS*/
@media (min-width:10240px)  {
    .about{
        display: flex;
        flex-direction: column;
     }
     .about{
        display: flex;
        flex-direction: column;
     }
}