
nav{
    height: 4.5rem;
    width:100%;

    overflow: hidden;

    /*Box*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*Color*/
    background-color:var(--navPurple); /* Change later to cyperpunk neon themed*/
   
    /* Positions*/
    position: fixed;
    z-index: 10; /*Highest index to always be on top*/
    box-shadow: 0 8px 6px -6px #999;
}

.navMenu{
    display: flex;
    align-items: center;


    
}

.navMenu > li > a{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: bolder;
}

.navMenu > li{
        margin: 1rem;

}

.navMenu > li:hover{
         transform: scale(1.04);
         box-shadow: 0 2px 3px -3px #d4ee5e;
         border-bottom: 2px solid rgb(42, 24, 59);
}


/*LARGE SCREENS*/
@media (min-width:640px)  {
     .navMenu{
        display: flex;
        justify-content: space-evenly;

        gap: 3rem;
     }
}

/*MEDIUM SCREENS*/
@media (max-width:768px)  {

}

/*SMALL SCREENS*/
@media (max-width:481px)  {
    nav > ul > li > a{
        font-size: 2px;
    } 
    .navMenu{
        margin: .1rem;
    }
}