.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3rem;
    box-shadow: 9px 9px 30px rgba(170, 128, 175, 0.3);
}

.about2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about2 > p{
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
}