/**********************Font**********************/




/*Desktop*/
*{
    /*Body setup*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*Custom Colors*/
/* https://www.smashingmagazine.com/2020/08/application-color-schemes-css-custom-properties/ */

}



/* button{
    Change it to the cyberpunk 2027 button type with neon after glow after completion
} */