/**********************Font**********************/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
    /* font-family: 'Lato', sans-serif;*/


/*Desktop*/
*{
    /*Body setup*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*Custom Colors*/


}



/*********************SMARTPHONES**********************/

/*Mobile*/
@media screen and (max-width: 480px) {

}