/*Projects CSS will be in 3 levels: Pallete Colors, Functional Colors & Component Color(in subfolders)*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
      /* Main custom css color properties*/
    
      /*Nav*/
      --navPurple: #bd00ff;
      --whiteFont:#F5F5F5;



    --primary-hue: 270;
    --black-lightness: 15%;
    --dark-lightness: 44%;
    --light-lightness: 94%;
    --white-lightness: 100%;
    --color-primary: hsl(var(var(--primary-hue), 89%, 41%));
    --color-white:  #F5F5F5;
    --color-light: hsl(var(var(--primary-hue)),5%, var(var(--light-lightness)));
    --color-black: hsl(var(var(--primary-hue)),5%, var(var(--black-lightness)));
    --color-dark: hsl(var(var(--primary-hue)), 5%, var(var(--dark-lightness)));

    /*Site's Body*/
    --container-width-lg: 76%;
    --container-width-md: 90%;

    /*Variations of Border Radii*/
    --border-radius-3: 0.5rem;
    --border-radious-2: 0.8rem;
    --border-radius-: 1.2rem;

    /*Transitions*/
    --transition: all 525ms ease;

    /*onScroll*/
    scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body{
  list-style: none;

  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  
}

.container{ /*For each section: Add to each later to make page more responsive depending on screen*/
  width: var(--container-width-lg);
   /*margin-inline: auto; */ /*Centre's margin around x-axis*/
  max-width: 1920px; /*For 1920px monitors*/
}

/*Sections*/
section{
  padding: 10rem 0;
  background: var(--color-light);
  transition: var(--transition);
}

.about, .skills{
  background: var(--color-white);
}

section > h1{
    text-align: center;
}

section > p{
  text-align: center;
  margin: 0.6rem 4rem;
  width: 40%;
}

a{
 /* color: rgb(2, 2, 2); */
  transition: var(--transition);  
  text-decoration: none;
}

ul{
  list-style: none;
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.1rem;
}
h5{
  font-size: 0.9rem;
}
h6{
  font-size: 0.7rem;
}

img{
  display: block; /*Creates enough margins around images*/
  object-fit: fill;
  width: 100%;
}

button{
    color: #77165d;
    background-color:#b824cc31;

    border: 2px solid #792262;
    border-radius:15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;   
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(1.5);
   
    padding:1rem;

    transition: .5s;
}
button:hover {
    color: rgb(228, 220, 220);
    background-color: #8b2570;
    filter: drop-shadow(0 0 20px #be3ee6) contrast(1) brightness(1.5);
  }



/*********************SMALLER SMARTPHONES**********************/

@media screen and (max-width: 480px) {

  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.9rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1.1rem;
  }
  h5{
    font-size: 0.9rem;
  }
  h6{
    font-size: 0.7rem;
  }

 section > p{
  width: var(--container-width-md);
 }

  
}

